# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / JetBrains related
*.iml
*.ipr
*.iws
.idea/
.idea/libraries/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android related
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
/android/app/.cxx/
/android/local.properties

# iOS related
ios/Pods/
ios/.generated/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# Firebase related
firebase_app_id_file.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
